@page "/AbpProject"
@using Microsoft.Extensions.Localization
@using global::AbpProject.Localization
@inject IStringLocalizer<AbpProjectResource> L
@{
}
<h1>AbpProject</h1>
<p>@L["SamplePageMessage"]</p>