@page
@using Microsoft.Extensions.Localization
@using AbpProject.Localization
@model AbpProject.Web.Pages.AbpProject.IndexModel
@inject IStringLocalizer<AbpProjectResource> L
@{
}
<h1>AbpProject</h1>
<p>@L["SamplePageMessage"]</p>
